RewriteEngine on
RewriteBase /

# Redirect www to non www
RewriteCond %{HTTP_HOST} ^www.adamgraham.github.io
RewriteRule (.*) http://adamgraham.github.io/$1 [R=301,L]

# Redirect http to https
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} ^adamgraham.github.io
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]
#Header always set Content-Security-Policy "upgrade-insecure-requests;"

# Remove trailing slashes
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [L,R=301]

# Redirect all file requests to index.html (SPA)
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule (.*) index.html [QSA,L]

# Redirect directories
RewriteRule ^game/(.*)$ /games [R=301,L]
RewriteRule ^website/(.*)$ /websites [R=301,L]
RewriteRule ^presentation/(.*)$ /presentations [R=301,L]

# Redirect home on 404
ErrorDocument 404 /
