.gallery {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - var(--header-height, 80px));
}

.gallery__slides {
  position: relative;
  flex: 1 1 80%;
  margin-top: 3rem;
  margin-bottom: 6rem;
}

.gallery__button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 10%;
  min-width: 48px;
  height: 100%;
  min-height: calc(100vh - var(--header-height, 80px));
  font-size: 64px;
}

.gallery__button.left {
  left: 0;
}

.gallery__button.right {
  right: 0;
}

.gallery__button > svg {
  fill: var(--color-foreground);
}

.gallery--vertical .slide {
  flex-direction: column;
  align-items: flex-start;
}

.gallery--vertical .slide__text-wrapper {
  width: 100%;
  max-width: 100%;
  margin-left: 0;
  margin-top: 2rem;
  transition: none;
}

.gallery--vertical .slide__text-container {
  width: 100%;
  min-width: 100%;
}

.gallery--vertical .slide__image > img {
  aspect-ratio: 2.35;
}

@media (max-width: 767px) {
  .gallery__slides {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 576px) {
  .gallery__slides {
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
  }

  .gallery__button {
    display: none;
  }
}
