.gallery {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: calc(100vh - 80px);
}

.gallery__button {
  width: 10%;
  height: 100%;
  font-size: 64px;
}

.gallery__button.left {
  left: 0;
}

.gallery__button.right {
  right: 0;
}

.gallery__slides {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 80%;
  height: 100%;
}
