.gallery {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: calc(100vh - 80px);
  overflow: hidden;
}

.gallery__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  min-width: 48px;
  height: 100%;
  font-size: 64px;
}

.gallery__button.left {
  left: 0;
}

.gallery__button.right {
  right: 0;
}

.gallery__button.info {
  position: absolute;
  top: 0;
  right: 0;
  width: 10vw;
  height: 10vw;
  min-width: 80px;
  min-height: 80px;
}

.gallery__slides {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;
  max-width: 80%;
  flex-grow: 1;
}

@media (max-width: 1365px) {
  .gallery__slides {
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media (max-width: 767px) {
  .gallery__slides {
    margin-left: 12px;
    margin-right: 12px;
  }
}
