html {
  color-scheme: dark;
  font-size: 1.125rem;
}

body {
  background-color: #0d1117;
  overflow-x: hidden;
  overflow-y: auto;
}

html, body {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion) {
  html, body {
    scroll-behavior: auto;
  }
}

.btn, .btn--default {
  --button-color-primary: var(--color-surface-6dp);
  --button-color-primary-hover: var(--color-surface-24dp);
  --button-color-secondary: var(--color-on-surface-high);
}
