.app-header {
  background-color: rgba(240, 242, 245, 0.8);
  backdrop-filter: blur(12px);
  overflow-x: hidden;
}

[data-theme="dark"] .app-header {
  background-color: rgba(25, 29, 35, 0.8);
}

[data-theme="high-contrast"] .app-header {
  background-color: rgba(22, 24, 28, 0.8);
}

.app-header__center {
  padding: 0;
}

.app-header .navbar li a {
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: -.025em;
  padding: .625rem;
  height: 2rem;
  transition: background-color 200ms, transform 200ms;
}

.app-header .navbar li a:not(:hover):not(:active):not(.active) {
  color: rgb(from var(--color-foreground) r g b / var(--opacity-subtle));
}

.app-header__title-button {
  display: none;
  font-weight: 700;
}

.app-header__menu-button svg {
  fill: var(--color-foreground);
}

@media (min-width: 576px) {
  .app-header > .container-fluid {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (max-width: 992px) {
  .app-header .navbar {
    display: none;
  }

  .app-header__title-button {
    display: block;
  }
}
