.app-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  max-width: 100vw;
  max-height: 100vh;
}

.app-menu__container {
  width: 100%;
  height: 80px;
  transition: height 0.5s;
}

.app-menu__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 80px;
  padding: 24px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background-color: var(--color-background, white);
}

.app-menu__nav,
.app-menu__social {
  display: flex;
  align-items: center;
}

.app-menu .nav-bar {
  margin-left: 16px;
}

.app-menu__gallery {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: calc(100% - 80px);
  background-color: var(--color-background, white);
  pointer-events: none;
  overflow: hidden;
}

.app-menu--gallery-view .app-menu__container {
  height: 100vh;
}

.app-menu--gallery-view .app-menu__gallery {
  pointer-events: all;
}

.app-menu__thumbnails {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  column-gap: 32px;
  row-gap: 32px;
  padding: 64px;
}

.app-menu__thumbnail {
  width: 100%;
  border-style: solid;
  border-width: 4px;
}

.app-menu__thumbnail--border-white {
  border-color: var(--color-scale-white, white);
  background-color: var(--color-scale-white, white);
}

.app-menu__thumbnail--border-black {
  border-color: var(--color-scale-black, black);
  background-color: var(--color-scale-black, black);
}

.app-menu__thumbnail--border-none {
  border: none;
  background-color: transparent;
  box-shadow: none !important;
}
