.menu-gallery {
  background-color: var(--color-background) !important;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1000;
}

.menu-gallery > .overlay__scrim {
  visibility: hidden;
  opacity: 1;
}

.menu-gallery__container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  margin: var(--header-height) 0 calc(var(--header-height) * 1.5) 0;
}

.menu-gallery__col:first-child {
  margin-left: var(--spacing-xxs);
}

.menu-gallery__col:last-child {
  margin-right: var(--spacing-xxs);
}

.menu-gallery__thumbnail {
  display: block;
  position: relative;
  margin: var(--spacing-sm) var(--spacing-xxs);
  border-radius: var(--radius-md);
  background-color: var(--color-background);
  overflow: hidden;
}

.menu-gallery__thumbnail::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, transparent 0%, transparent 66%, rgba(0, 0, 0, var(--opacity-scrim)) 100%);
}

.menu-gallery__thumbnail > img {
  width: 100%;
}

.menu-gallery__caption {
  display: flex;
  flex-direction: column-reverse;
  position: absolute;
  gap: var(--spacing-xxxs);
  bottom: var(--spacing-md);
  left: var(--spacing-md);
  right: var(--spacing-md);
  color: var(--color-white);
  z-index: 1;
}
