.menu-gallery {
  background-color: var(--color-background) !important;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1000;
}

.menu-gallery > .overlay__scrim {
  visibility: hidden;
  opacity: 1;
}

.menu-gallery > .overlay__dialog > .container-fluid {
  position: relative;
  top: var(--header-height, 80px);
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.menu-gallery__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  margin-bottom: 4rem;
}

.menu-gallery__thumbnail {
  position: relative;
  display: flex;
  align-items: center;
  height: max-content;
  background-color: var(--color-surface-1);
  border-radius: var(--radius-sm);
  overflow: hidden;
}

@media (min-width: 576px) {
  .menu-gallery > .overlay__dialog > .container-fluid {
    padding-left: 32px;
    padding-right: 32px;
  }

  .menu-gallery__grid {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 0.75rem;
    row-gap: 0.75rem;
  }

  .menu-gallery__thumbnail {
    border-radius: 0.4rem;
  }
}

@media (min-width: 1024px) {
  .menu-gallery__grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1366px) {
  .menu-gallery__grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 1440px) {
  .menu-gallery__grid {
    grid-template-columns: repeat(6, 1fr);
  }
}
