.projects-list {
  font-size: 0.75rem;
  width: 100%;
  max-width: 962px;
  min-height: 105vh;
  overflow-x: hidden;
}

.projects-list__header {
  margin-bottom: 2.5rem;
}

.projects-list__header > h1 {
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.projects-list__filters {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 8px;
}

.projects-list__filters .badge {
  border: none;
  background-color: var(--color-primary-subtle);
  color: var(--color-primary);
  font-weight: 600;
  font-size: 0.875em;
}

.projects-list__filters .badge--selected {
  background-color: var(--color-primary);
  color: var(--color-on-primary);
}

@media (hover: hover) {
  .projects-list__filters .badge:hover {
    background-color: var(--color-primary);
    color: var(--color-on-primary);
  }
}

.projects-list__category {
  margin-top: 0;
  margin-bottom: 2rem;
  transition: margin 400ms, opacity 200ms, visibility 400ms;
}

.projects-list__category--empty {
  margin-top: 0;
  margin-bottom: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.projects-list__category:last-child {
  margin-bottom: 0;
}

.projects-list__category > h2 {
  height: 24px;
  font-weight: 700;
  margin-bottom: 0;
  padding-left: 2px;
  transition: height 400ms;
}

.projects-list__category--empty > h2 {
  height: 0;
}

.projects-list__category > ul {
  width: 100%;
  margin-block-start: 0.5rem;
  margin-block-end: 0.5rem;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
  list-style: none;
  white-space: nowrap;
  transition: margin-block-start 400ms, margin-block-end 400ms;
}

.projects-list__category--empty > ul {
  margin-block-start: 0;
  margin-block-end: 0;
}

.projects-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 48px;
  border-radius: 16px;
  transition: height 400ms, opacity 200ms, visibility 400ms;
}

.projects-list__item:hover {
  background-color: var(--color-surface-2);
}

.projects-list__item--hidden {
  height: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.projects-list__item > a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px;
}

.projects-list__text {
  flex-grow: 0;
  flex-shrink: 0;
  min-height: 24px;
}

.projects-list__title {
  font-weight: 600;
  margin-right: 8px;
}

.projects-list__description {
  display: none;
  color: var(--color-foreground-subtle);
}

.projects-list__line {
  flex: 1 1 100%;
  margin: 0 .5rem;
}

.projects-list__date {
  flex-grow: 0;
  flex-shrink: 0;
  color: var(--color-foreground-subtle);
}

@media (min-width: 700px) {
  .projects-list__description {
    display: inline-block;
  }
}
