.project section {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.project section:first-child {
  margin-top: 0;
}

.project section:last-child {
  margin-bottom: 0;
}

.project section > .embedded-video,
.project section > .progressive-image > img,
.project section > a > .progressive-image > img {
  border-radius: var(--radius-lg);
  box-shadow: rgba(42, 51, 70, 0.2) 0px 0px 40px;
}

.project .progressive-image {
  overflow: visible;
}

.project .image-gallery > .thumbnail {
  display: flex;
  overflow: visible;
}

.project .image-gallery > .thumbnail img {
  border-radius: var(--radius-sm);
  box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
}

[data-theme="dark"] .project section > .embedded-video,
[data-theme="dark"] .project section > .progressive-image > img,
[data-theme="dark"] .project section > a > .progressive-image > img,
[data-theme="dark"] .project .image-gallery img,
[data-theme="high-contrast"] .project section > .embedded-video,
[data-theme="high-contrast"] .project section > .progressive-image > img,
[data-theme="high-contrast"] .project section > a > .progressive-image > img,
[data-theme="high-contrast"] .project .image-gallery img {
  box-shadow: none;
}

@media (max-width: 1024px) {
  .project {
    padding-bottom: 144px;
  }
}

@media (max-width: 767px) {
  .project section {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

@media (min-width: 1440px) {
  .project .display {
    font-size: 3.5rem;
  }
}
