.project {
  padding-top: 32px;
  padding-bottom: 32px;
  margin-bottom: 256px;
}

.project section {
  margin-top: 2em;
  margin-bottom: 2em;
}

.project em {
  font-style: normal;
  letter-spacing: -0.5px;
  color: var(--color-scale-gray-600, gray);
}

.project img {
  max-width: 100%;
}

.project .image-link,
.project .image-link img {
  display: block;
}

@media (max-width: 767px) {
  .project section {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

@media (max-width: 1024px) {
  .project {
    margin-bottom: 128px;
  }
}
