.page > .project {
  padding-top: 32px;
  padding-bottom: 208px;
}

.project section {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.project em {
  font-style: normal;
  letter-spacing: -0.5px;
  color: var(--color-foreground-muted);
}

.project img {
  max-width: 100%;
}

.project .image-link,
.project .image-link img {
  display: block;
}

.project .progressive-image,
.project .embedded-video {
  box-shadow: 0 0 2rem rgb(0, 0, 0, 5%);
}

@media (max-width: 767px) {
  .project section {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 1024px) {
  .project {
    padding-bottom: 144px;
  }
}
