.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  height: 80%;
  transform: translateY(-50%);
}

.slide__image-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
}

.slide__image {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  border-style: solid;
  border-width: 12px;
}

.slide__image--border-white {
  border-color: var(--color-scale-white, white);
  background-color: var(--color-scale-white, white);
}

.slide__image--border-black {
  border-color: var(--color-scale-black, black);
  background-color: var(--color-scale-black, black);
}

.slide__image--border-none {
  border: none;
  background-color: transparent;
  box-shadow: none !important;
}

.slide__text-wrapper {
  position: relative;
  width: 420px;
  margin-left: 6rem;
  transition: opacity 0.3s, width 0.3s, margin-left 0.3s;
}

.gallery__slides--hide-info .slide__text-wrapper {
  width: 0;
  margin-left: 0;
  opacity: 0;
  pointer-events: none;
}

.slide__text-container {
  width: 420px;
  min-width: 420px;
}

.gallery--vertical-layout .slide {
  flex-direction: column;
  align-items: flex-start;
}

.gallery--vertical-layout .slide__image-wrapper {
  justify-content: flex-start;
  max-width: 100%;
  max-height: 50%;
}

.gallery--vertical-layout .slide__text-wrapper {
  width: 100%;
  margin-left: 0;
  margin-top: 4rem;
  transition: none;
}

.gallery--vertical-layout .slide__text-container {
  width: 100%;
  min-width: 100%;
}

.gallery--vertical-layout .gallery__slides--hide-info .slide__image-wrapper {
  justify-content: center;
  max-height: 100%;
}

.gallery--vertical-layout .gallery__slides--hide-info .slide__text-wrapper {
  height: 0;
  margin-top: 0;
}

@media (max-width: 1365px) {
  .slide__image {
    border-width: 9px;
  }
}

@media (max-width: 767px) {
  .slide__image {
    border-width: 6px;
  }
}

@media (max-height: 1023px) {
  .gallery--vertical-layout .slide__text-wrapper {
    margin-top: 2rem;
  }
}

@media (max-height: 640px) {
  .slide__image-wrapper {
    display: none;
  }
}
